/* Padrões */
body {
    font-family: "Inter", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
/* Header */
.header {
    padding: 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.section_header {
    display: flex;
    align-items: center; 
}

.section_header img {
    height: 70px;
    width: 70px;
}

.section_header a {
    color: black;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.section_header a:hover {
    background-color: #575757;
    border-radius: 4px;
}


/* Banner */
.banner_pam {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: left;
    padding: 0 50px; 
}

#fundo_banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#bem_vindo {
    color: rgb(255, 255, 255);
    font-size: 64px;
    max-width: 60%;
}

#introducao {
    color: white;
    font-size: 24px;
    max-width: 50%; 
}

.banner_pam button{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    color: #767676;
    border: none;
}

#desenho {
    position: relative;
    align-self: flex-end;
    margin-top: auto;
    margin-bottom: 20px;
    max-width: 40%; 
    height: auto;
}

/* Seções */
section {
    padding: 40px 20px;
    text-align: center;
}

section h2 {
    position: relative;
    font-size: 32px;
    color: #E67FA0;
    margin-bottom: 20px;
}

section p {
    color: #767676;
}

section.filme-preferido {
    display: flex;
    justify-content: flex-start; /* Alinha os itens à esquerda */
    align-items: center; /* Alinha os itens verticalmente no centro */
    gap: 20px;
}

section.filme-preferido img {
    width: 300px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    object-fit: cover;
}

section.filme-preferido div {
    max-width: 600px;
    text-align: left; /* Garante que o texto fique alinhado à esquerda */
}


.sobre_mim {
    background-color: #f0f0f0;
}

.sobre_mim h2 {
    color: #E67FA0;
}

.hobbies {
    display: flex;
    flex-direction: column; /* Organiza o conteúdo na vertical */
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center; /* Alinha o texto no centro */
    z-index: 1; /* Garante que o conteúdo não sobreponha o fundo */
}

.hobbies img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}

.hobbies h2 {
    color: #E67FA0;
    padding: 20px;
    margin-bottom: 10px; 
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
}

.hobbies p {
    color: #767676;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
}

section h2 {
    position: relative;
    font-size: 32px;
    color: #E67FA0;
    margin-bottom: 20px;
}

section p {
    color: #767676;
}

/* Footer */
.footer {
    background-color: #F6ADC4;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Responsividade */
@media (max-width: 768px) {
    .banner_pam {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        padding-top: 80px;
    }

    #bem_vindo {
        font-size: 32px;
    }

    #introducao {
        font-size: 18px;
    }

    #desenho {
        position: absolute;
        bottom: 20px;
        right: 20px;
        max-width: 60%;
        height: auto;
    }

    .section_header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section_header a {
        padding: 10px;
        margin-bottom: 10px;
        font-size: 14px;
    }

    section {
        padding: 20px;
    }

    h2 {
        font-size: 28px;
    }

    ul {
        padding-left: 20px;
        text-align: left;
    }

    li {
        font-size: 18px;
    }
}

@media (max-width: 1024px) {
    #bem_vindo {
        font-size: 48px;
    }

    #introducao {
        font-size: 20px;
    }

    .section_header {
        justify-content: space-between;
    }
}
