* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #E2E2E2;
    color: #333;
}

header {
    background-color: #ffffff;
    color: rgb(53, 48, 48);
    padding: 20px;
}

header h1 {
    text-align: center;
}

main {
    padding: 20px;
    color: #767676;
}

.container {
    background-color: white;
    margin-top: 20px;
    padding: 40px; 
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


#escolha_perfil {
    font-size: 64px;
    color: #767676;
    padding: 40px;
    text-align: center;
}

.imagens {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.imagem-container {
    text-align: center;
}

.imagem {
    width: 450px;
    height: 450px;
    border-radius: 10px;
}

#nome_pessoal {
    color: #767676;
    font-size: 36px;
}

a {
    text-decoration: none;
}

footer {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
